
<div>
<img width="97%" margin="auto" height="200px" src= "https://www.scu.edu/media/offices/omc/scu-brand-guidelines/visual-identity-amp-photography/visual-identity-toolkit/logos-amp-seals/Mission-Horizontal-PMS201.png" alt="scu_banner"/>
</div>
<div class="space"></div>
<div>
<h1 class="about">About</h1></div>
<div>
<p> The Student portal helps you to view the list of students who are enrolled in the university after login in the portal.</p>
<p> you will abe able to add a new student, edit the studen information and you can also remove the student record for this portal</p>

</div>
