<p>Welcome to University Student Portal<p>

<div>
<img width="100%" height="100%" src= "http://www.collegeright.com/wp-content/uploads/2015/12/December-2015-College-Spotlight-Santa-Clara.jpg" alt="divya">
</div>
<div class="space"></div>
<div>
<div>
<img width="47.5%" height="50%" src="/../images/SCU.jpg" class="scu_img" alt="scu">
</div>
<div>
<img width="47.5%" height="300px" src="http://devcon-const.com/wp-content/uploads/2013/07/Overview-800x459.jpg" alt="new_img" class="scu_img2">
</div>
</div>
