<!doctype html>
<html lang="en">
 <head>
    <title><%= @title || "University Portal" %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    </head>


  <body>
    <header>
      <h1> Students portal</h1>
        </header>
      <%= erb :nav %>
    <section>

      <%= yield %>
      </section>
      </body>
      </html>
    
