
<form id = "slick-login" action="/login" method="POST">
<div>
Enter the details</div>
  <label>Username:</label>
  <input type="text" name="username" class="placeholder" placeholder="Enter username">
  <br>
  <label> Password:</label>
  <input type="password" name="password" class="placeholder" placeholder="Enter password">
  <br>
  <input type="submit" value="Log In">
  </form>





  

