
<ul id="menu-bar">
 <li><a href="/">Home</a></li>
 <li><a href="/about">About</a></li>
 <li><a href="/login">Login</a>
  <li><a href="/logout">Logout</a>
   
 </li>
 <li><a href="#">Students</a>
  <ul>
   <li><a href="/students">Show students enrolled</a></li>
   <li><a href="/students/new">Add a new student</a></li>
   
  
  </ul>
 </li>

 <li><a href="/contact">Contact Us</a></li>
</ul>



